{% extends 'boimelawebApp/base.html' %}
{% load static %}

{% block content %}

<html>
<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}


.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.6;
}
</style>
</head>
<body>


<div class="card">
  <img src="https://blogs.lse.ac.uk/lsereviewofbooks/files/2016/02/Books-for-Survey.jpg" alt="books" style="width:50%">
  <a href="{% url 'stall-update' object.id %}  "><h3>Update?</h3></a>
<a href="{% url 'stall-delete' object.id %}"><h3>Delete?</h3></a>
  <h1>Stall Name: {{ object.stall_name }}</h1>
    <h1>Stall Type: {{ object.stall_type }}</h1>
      <h1>Stall Owner: {{ object.owner }}</h1>

</div>

</body>
</html>


{% endblock content %}
